form{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-block label{
  display: flex;
  flex-direction: column;
}

.input-block input{
  display: flex;
  flex-direction: column;
}