
button[type=delete]{
  
  border: 0;
  margin-top: 20px;
  background: #0683bd;
  border-radius: 2px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  cursor: pointer;
  transition: background 0.5s;
}

 button[type=delete]:hover{
  background-color: #005c87;
}

hr{
  color: #005c87;
  border: 1px #005c87 solid;
  margin-top: 10px;
}
